$primary-color: #535ce5;
$primary-color-shade: #2e337d;
$primary-color-light: #a6aae3;
$primary-color-lighter: #f7f6ff;
$secondary-color: #ffa907;
$secondary-color-shade: #835603;
$secondary-color-light: #f8dca9;
$secondary-color-lighter: #fffcf5;
$complementary-color: #e2674f;
$complementary-color-dark: #7d3a2d;
$complementary-color-light: #dea599;
$complementary-color-lighter: #fff8f6;
$shade-color: #f7f6fb;
$shade-color-darker: #b5b5b5;