@import "../../utilities/variable.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $shade-color;
  padding: 1rem;
  border-radius: 1rem;

  div {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;

    input {
      cursor: pointer;
    }
  }

  :last-child {
    cursor: pointer;
  }
}